* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    color: #111;
    padding-top: 80px; /* altura del header */
}

/* HEADER */
.main-header {
    background: #0d0d0d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;
    font-size: 30px;
}

.main-header nav ul li a {
    font-size: 30px;
}

.nav {
    max-width: 1100px;
    margin: auto;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/* HERO - IMAGEN COMPLETA */
.hero-section {
    height: 120vh;
    position: relative;
    overflow: hidden;
}

.hero-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-image {
    object-position: bottom top; /* o center, bottom */
}



/* SECCIONES */
.content-section {
    max-width: 900px;
    margin: auto;
    padding: 3.5rem 1rem;
}

.content-section h1 {
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}


.content-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

/* AUDIO */
.audio-player {
    text-align: center;
    margin-bottom: 2rem;
}

.audio-player audio {
    width: 100%;
    max-width: 400px;
}

    .imageMP3{
        width: 50%;
    }

/* SPOTIFY */
.spotify {
    text-align: center;
    margin: 2rem 0;
}

/* VIDEO */
.video {
    margin-bottom: 2rem;
    display: grid;
    place-items: center; 
}

.videoYou {
    width: 70%;
    
}

/* MOBILE */
@media (max-width: 768px) {

    .social-cards {
        grid-template-columns: 1fr;
    }

    .social-card {
        height: 90px;
    }

    .videoYou {
    width: 100%;
    }

    .main-header {
    font-size: 18px;
    }

    .main-header nav ul li a {
        font-size: 18px;
    }

    .imageMP3{
        width: 90%;
    }

}




/* BIO */
.bio p {
    max-width: 650px;
    margin: auto;
    text-align: center;
    color: #444;
}

/* PRESSKIT */
.presskit {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #111;
    color: #111;
    text-decoration: none;
    font-size: 0.9rem;
}

/* FOOTER */
.main-footer {
    background: #0d0d0d;
    color: #aaa;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.85rem;
}

/* MOBILE */
@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-overlay h1 {
        font-size: 2.2rem;
    }
}
